.ivu-page .ivu-page-item-active{
  background: #C76E3B
  border-color: #C76E3B
}
.ivu-page li{
  border-radius: 50%
  border: 0
  background: transparent
  &:hover{
    border-color: #C76E3B
    a{
      color: #C76E3B
    }
  }
}
.ivu-page-options-elevator input:hover {
    border-color: #C76E3B
}
.ivu-page-options-elevator input:focus {
    border-color: #C76E3B
}